/* 这里针对那个透明盒子的内容进行样式处理 */

/* 定义基本的盒子大小 */
.transparent_block {
    width: 100%;
    height: 45rem;
	align-items: center;
	place-content: center;
	/* display: flex; */
}

.centering_items{
	width: 100%;
	align-items: center;
	place-content: center;
	display: flex;
}

.centering_items:first-child{
	/* 如果只有一个标题的话就这样 */
	height: 100%;
}

.centering_items>h1{
/* 	margin: 2rem auto; */
	align-self: center;
	font-size: 5rem;
	color: cornflowerblue;
}

.centering_items>p{
	font-size: 2rem;
	color: black;
}