footer{
	width: 100%;
}

.others_info{
	/* align-items 只是元素的排放方式，不是元素位置 */
	align-items: center;
	
	/* 尝试一下 */
/* 	place-items: end center; */
}

.others_info>iframe{
	/* 只要有将元素按照block方式排版+自动识别margin，才会自动居中 */
	display: block;
	margin: 0 auto;
	
	border-top: 1rem solid bisque;
	
	width: 100%;
	height: 20rem;
}