@import url(../../component/ScrollBkImg/ScrolBkImg.css);
@import url(../../component/split_nav/split_nav.css);
@import url(../../component/sidenav/sidenav.css);
@import url(../../component/overlay_content/overlay_content.css);
@import url(../../component/dropdown_nav/dropdown_nav.css);

.bg-item{
    width: 50%;
    height: 50%;
}

.bg-item>video{
    width: 100%;
    height: 100%;

    border-radius: 2rem;
}

body{
    background-size: cover;
    background-image: url("../../img/background/shower.webp");
}