.bg-item{
    width: 50%;
    height: 50%;
}

.bg-item>video{
    width: 100%;
    height: 100%;

    border-radius: 2rem;
}

body{
    background-size: cover;
    background-image: url("../../img/background/shower.webp");
}