<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./ScrolBkImg.css">
</head>
<body>

    <div class="bg-image" id="img_example" style="background-image: url('../../img/background/shower.webp')"></div>
    <div class="bg-image" id="img_example" style="background-image: url('../../img/background/shower.webp')"></div>
    <div class="bg-image" id="img_example" style="background-image: url('../../img/background/shower.webp')"></div>
    <div class="bg-image" id="img_example" style="background-image: url('../../img/background/shower.webp')"></div>

    <div class="bg-text">TEXT</div>

</body>
</html>
